<%- include("partials/header") -%>


<div class="content">
    <h3>Hii! I am Mithilesh Kawalkar. A student, web developer and a coding enthusiast.</h3>
</div>


<%- include("partials/footer") -%>