<%- include("partials/header") -%>

<div class="content">
    <form method="post" action="/">
        <h2>Edit</h2><br>
        <label for="title">Title</label>
        <br>
        <input id="title" type="text" name="title" value="<%= title %>" required >
        <br>
        <label for="post">Post</label>
        <br>
        <textarea id="post" name="post"><%= body %></textarea>
        <br>
        <button class="publish-btn" type="submit" name="button">Publish</button>
    </form>
</div>

<%- include("partials/footer") -%>